<page-header style="background-color: #11657A;"></page-header>
<mat-card class="card-container" align="center">
  <mat-card-content class="div-card-import">
    <recepcion-formulario-de-importacion
     (importExcel)="importExcel($event)" (response)="receiveResponseImportExcel($event)">
    </recepcion-formulario-de-importacion>
  </mat-card-content>

  <mat-card-content >
    <div class="table-container" >
      <div class="tabla-cajas-recepcion">
        <div class="container">
          <div class="row">
              <mat-card-content *ngIf="hideInputsDocs">
                <h4>ORDEN: <strong color="primary">{{responseValue}}</strong></h4>
              </mat-card-content>
          </div>
        </div>
        <recepcion-listado-cajas [arrBoxes]="dataSourceArrBoxes" *ngIf="hideTables"></recepcion-listado-cajas>
      </div>

      <div class="tabla-documentos-recepcion">
        <div class="container" *ngIf="hideInputsDocs">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8" align="left">
              <recepcion-registrar-documento (idDocumento)="registerDocument($event)" [dSArrDocuments]="dataSourceArrDocuments"></recepcion-registrar-documento>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" align="right">
              <recepcion-series-pendientes [informationReceive]="informationReceive"></recepcion-series-pendientes>
            </div>
          </div>
        </div>
        <recepcion-listado-documentos [dataSourceDocuments]="dataSourceArrDocuments" *ngIf="hideTables"></recepcion-listado-documentos>
      </div>
    </div>

  </mat-card-content>

  <!-- COMPONENTE DE TABLITAS -->
  <mat-card-content *ngIf="hideTables">
    <div style="float: right;">
    <button mat-raised-button color="primary" *ngIf="disableButton !== undefined" [disabled] = "disableButton" (click)="finishProcess(responseValue)"  >TERMINAR PROCESO</button>
  </div>
  </mat-card-content>
</mat-card>

