.matero-page-header {
  background-color: #11657A;
}

.mat-column-numCaja{
  padding-top: 15px;
}

.mat-column-idAnaquel{
  padding-top: 15px;
}

.mat-column-lado{
  padding-top: 15px;
}

.mat-column-idFila{
  padding-top: 15px;
}

.mat-column-idColumna{
  padding-top: 15px;
}

.mat-column-eliminar{
  padding-top: 15px;
}

